*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    height: 0px;
}

@font-face {
    font-family: "corpo";
    src: url("../FONT/philly_sans/PhillySans.otf");
}

@font-face {
    font-family: "titulo";
    src: url("../FONT/mostwasted/Mostwasted.ttf");
}

@font-face {
    font-family: "sub";
    src: url("../FONT/times_new_normal/");
}

@font-face {
    font-family: "mu";
    src: url("../FONT/mont/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "icon";
    src: url("../FONT/social_media_circled/Social\ Media\ Circled.ttf");
}

#homebar {
    color: blue;
    margin-top: 20px;
    z-index: 0;
    border: 2px solid transparent;
    height: 70px;
    width: 1675px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#caixa1 {
    position: absolute;
    background: black;
    height: 50px;
    width: 1521px;
    margin-left: -170px;
    border: 2px solid transparent;
}

#menu{
    display: flex;
    flex-direction: row;
    color: white;
    border: 2px solid transparent;
    position: absolute;
}

#caixa2 {
    background: black;
    height: 60px;
    width: 1521px;
    position: absolute;
    margin-top: 50px;
    margin-left:-170px;
    border: 2px solid transparent; 
    opacity: 70%;
}


.e1{
    font-size: 40px;
    font-family: "corpo";
    color: white;
    margin-top: 50px;
    list-style-type: none;
    width: 400px;
}

.e1:hover{
    text-decoration: underline;
    font-size: 40px;
    font-family: "corpo";
    color: white;
    margin-top: 50px;
    list-style-type: none;
    width: 400px;
}

#m2{
     position: absolute;
     font-size: 110px;
    font-family: "titulo";
    color: black;
    margin-top: 120px;
    margin-left: -110px;
    width: 570px;
    border: 2px solid transparent;
}

#m3{
    position: absolute;
     font-size: 35px;
    font-family: "mu";
    color: black;
    margin-top: 270px;
    margin-left: -1000px;
    width: 570px;
    border: 2px solid transparent;
}

#m4{
   position: absolute;
     font-size: 30px;
    font-family: "sub";
    color: black;
    margin-top: 340px;
    margin-left: -590px;
    width: 1000px;
    border: 2px solid transparent; 
}

#img1{
    width: 400px;
    height: 500px;
    border: 2px solid transparent;
    margin-top: 270px;
    margin-left: 110px;
    position: absolute;
}

button{
    width: 400px;
    height: 100px;
    background-color: black;
    font-size: 20px;
    font-family: "mu";
    border: 3px solid black;
    position: absolute;
    color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 550px;
    margin-left: -800px;
}

button:hover{
    width: 400px;
    height: 100px;
    background-color: white;
    font-size: 20px;
    font-family: "mu";
    border: 3px solid black;
    position: absolute;
    color: black;
    border-radius: 20px 20px 20px 20px;
    margin-top: 550px;
    margin-left: -800px;
}


#caixa3{
    background: black;
    height: 400px;
    width: 1521px;
    margin-top: 800px; 
    margin-left: -190px;
    border: 2px solid transparent;
    position: absolute;
}

#img3{
    position: absolute;
    margin-top: 800px;
    margin-left: -1300px;
    width: 400px;
    height: 400px;
    border: 2px solid transparent; 
}

#e9{
     font-size: 18px;
    font-family: "sub";
    color: white;
    border: 2px solid transparent;
    width: 450px;
    height: 30px;
    margin-left: 100px;
    margin-top: 1180px;
    position: absolute;
}

#e10{
     font-size: 17px;
    font-family: "sub";
    color: white;
    border: 2px solid transparent;
    width: 350px;
    height: 30px;
    margin-left: 200px;
    margin-top: 1165px;
    position: absolute  ;
}

#menu2{
    display: flex;
    flex-direction: row;
    color: white;
    border: 2px solid transparent;
    position: absolute;
    margin-left: 200px;
    height: 20px;
}

.e2{
    font-size: 30px;
    font-family: "corpo";
    color: white;
    margin-top: 850px;
    list-style-type: none;
    width: 200px;
    border: 2px solid transparent;
}

.e2:hover{
    text-decoration: underline;
    font-size: 30px;
    font-family: "corpo";
    color: white;
    margin-top: 850px;
    list-style-type: none;
    width: 200px;
    border: 2px solid transparent;
}

#e11{
    font-size: 20px;
    font-family: "mu";
    color: white;
    border: 2px solid transparent;
    width: 350px;
    height: 40px;
    margin-left: -300px;
    margin-top: 970px; 
    position: absolute;
}

#e11:hover{
    text-decoration: underline;
    font-size: 20px;
    font-family: "mu";
    color: white;
    border: 2px solid transparent;
    width: 350px;
    height: 40px;
    margin-left: -300px;
    margin-top: 970px; 
    position: absolute;
}

#e12{
    font-size: 20px;
    font-family: "mu";
    color: white;
    border: 2px solid transparent;
    width: 350px;
    height: 40px;
    margin-left: -300px;
    margin-top: 1020px; 
    position: absolute;
}

#e12:hover{
    text-decoration: underline;
    font-size: 20px;
    font-family: "mu";
    color: white;
    border: 2px solid transparent;
    width: 350px;
    height: 40px;
    margin-left: -300px;
    margin-top: 1020px; 
    position: absolute;
}

#e13{
    font-size: 20px;
    font-family: "mu";
    color: white;
    border: 2px solid transparent;
    width: 250px;
    height: 40px;
    margin-left: 500px;
    margin-top: 970px; 
    position: absolute;
}

#e14{
    font-size: 40px;
    font-family: "icon";
    color: white;
    border: 2px solid transparent;
    width: 250px;
    height: 40px;
    margin-left: 500px;
    margin-top: 1020px; 
    position: absolute;
}


